server.host: {{ server_host }}
server.port:  {{ kibana_port }}

pid.file: /run/kibana/kibana.pid

logging:
  appenders:
    file:
      type: file
      fileName: /var/log/kibana/kibana.log
      layout:
        type: json
  root:
    appenders:
      - default
      - file
