server.host = 0.0.0.0
server.port = 5601

pid.file: /run/kibana/kibana.pid

logging:
  appenders:
    file:
      type: file
      fileName: /var/log/kibana/kibana.log
      layout:
        type: json
  root:
    appenders:
      - default
      - file
